<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091479158820-lqsqn6i42i5r1hav1cgqfqnimbp5202m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091479158820-lqsqn6i42i5r1hav1cgqfqnimbp5202m</string>
	<key>API_KEY</key>
	<string>AIzaSyCw3C7fUJ-ffuy3HK_-PweYu-WyXvMF7kU</string>
	<key>GCM_SENDER_ID</key>
	<string>1091479158820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appdemo</string>
	<key>PROJECT_ID</key>
	<string>appdemo-f83ad</string>
	<key>STORAGE_BUCKET</key>
	<string>appdemo-f83ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091479158820:ios:e7ba81dfb05e93dc8f98b1</string>
</dict>
</plist>